footer {
  background-color: hsl(233, 26%, 24%);
  padding: 30px;
}
.white-text {
  color: white;
  display: inline;
  margin-left: -108px;
  position: absolute;
}
.white-logo {
  position: relative;
}
footer .column {
  display: flex;
  flex-direction: column;
}
.footer .row {
  display: flex;
  align-items: center;
  height: 150px;
}
footer {
  color: white;
}
footer li {
  list-style: none;
}
footer .column li {
  margin-bottom: 20px;
  opacity: 0.8;
}
footer .request-button {
  margin-bottom: 25px;
}
.footer-socials img {
  margin-right: 20px;
  margin-top: 50px;
}
