* {
  margin: 0;
  padding: 0;
}
@media (max-width: 1300px) {
  .container {
    padding: 40px !important;
  }
  .footer-socials img {
    margin-right: 12px !important;
  }
  .mobiles-img {
    height: 700px;
  }
}
@media (max-width: 1020px) {
  .section > .container {
    flex-direction: column-reverse;
  }
  .section .container h1 {
    margin: 0px auto 20px auto;
  }
  .section .container .text {
    text-align: center;
  }
  .text p {
    margin-bottom: 40px !important;
  }
  .grey-section h1,
  .grey-section p {
    text-align: center;
    margin: 0;
    max-width: 100% !important;
  }
  .grey-section .row {
    flex-direction: column;
  }
  .grey-section .column {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .grey-section .column img {
    width: 100px;
    margin: 0 auto;
  }
  .white .container h2 {
    text-align: center;
    padding-top: 10px;
  }
  .white .container > div {
    display: flex;
    flex-direction: column;
  }
  .box-images {
    margin-right: 0px !important;
    background-color: hsl(0, 0%, 98%) !important;
    margin-bottom: 32px;
  }
  .column-box {
    max-width: 300px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
  }
  .white {
    padding-bottom: 0px !important;
  }
  footer .row {
    flex-direction: column;
    align-items: center;
  }
  footer .row .column {
    margin: 0 !important;
    align-items: center;
  }
  .footer-socials {
    margin-bottom: 30px;
  }
  .footer-socials img:last-of-type {
    margin-right: 0px !important;
  }
  .white-text {
    color: white;
    display: inline;
    margin-left: -95px !important;
    position: absolute;
  }
  footer .column:last-of-type p {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .mobiles-img {
    max-width: 480px !important;
    height: 560px !important;
  }
}
@media (max-width: 550px) {
  .mobiles-img {
    max-width: 350px !important;
    height: 430px;
  }
}
@media (max-width: 450px) {
  .mobiles-img {
    max-width: 300px !important;
    height: 380px !important;
  }
}
@media (max-width: 390px) {
  .mobiles-img {
    max-width: 230px !important;
    height: 300px !important;
  }
}
@media (min-width: 1520px) {
  .container {
    max-width: 1460px;
    padding: 0px 20px;
  }
}
